[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group MIMSI
	owner = group user/WarenUT
[access "refs/for/refs/*"]
	read = group MIMSI
	read = group user/WarenUT
	push = group MIMSI
	push = group user/WarenUT
	label-Code-Review = -2..+2 group MIMSI
	label-Code-Review = -2..+2 group user/WarenUT
	label-Verified = -1..+1 group MIMSI
	label-Verified = -1..+1 group user/WarenUT
	rebase = group MIMSI
	rebase = group user/WarenUT
	removeReviewer = group MIMSI
	removeReviewer = group user/WarenUT
	submit = group MIMSI
	submit = group user/WarenUT
[access "refs/heads/*"]
	read = group MIMSI
	read = group user/WarenUT
	create = group MIMSI
	create = group user/WarenUT
	push = group MIMSI
	push = +force group user/WarenUT
	pushMerge = group MIMSI
	pushMerge = group user/WarenUT
[access "refs/tags/*"]
	push = group MIMSI
	push = +force group user/WarenUT
	pushTag = group MIMSI
	pushTag = group user/WarenUT
	pushSignedTag = group MIMSI
	pushSignedTag = group user/WarenUT
