[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/WarenUT
[access "refs/for/refs/*"]
	read = group user/WarenUT
	push = group user/WarenUT
	label-Code-Review = -2..+2 group user/WarenUT
	label-Verified = -1..+1 group user/WarenUT
	rebase = group user/WarenUT
	removeReviewer = group user/WarenUT
	submit = group user/WarenUT
[access "refs/heads/*"]
	read = group user/WarenUT
	create = group user/WarenUT
	push = +force group user/WarenUT
	pushMerge = group user/WarenUT
[access "refs/tags/*"]
	push = +force group user/WarenUT
	pushTag = group user/WarenUT
	pushSignedTag = group user/WarenUT
